body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: darkblue;
}

div.container span {
	width: 30px;
	height: 30px;
	margin: 0 10px;
	display: inline-block;
	height: 30px;
	background-color: #5C4033;
	border-radius: 50%;
	transition: move 3s ease-in-out;
}

span:nth-of-type(1) {
	animation: 3s ease-in-out 1s 5 move;
}

span:nth-of-type(2) {
	animation: 3s ease-in-out 3s 5 move;
}

span:nth-of-type(3) {
	animation: 3s ease-in 5s 5 move;
}

@keyframes move {
	0% {
		transform: scale(0) translateY(0);
	}
	50% {
		transform: scale(0.2) translateY(1.6);
	}
	100% {
		transform: scale(1) translateY(2);
	}
}
