@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;300;500;700;900&family=Mukta:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700&display=swap');

body {
	font-family: Mukta, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	letter-spacing: 0.5px;
}

div.content {
	margin: 0 auto;
	max-width: 900px;
	padding: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Bitter, serif;
	font-weight: 500;
}

h1 {
	font-size: 80px;
	font-weight: 400;
	letter-spacing: -1.5px;
	margin: 0;
}

div.content p.info {
	text-align: center;
	text-transform: uppercase;
	font-family: Bitter, serif;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1.4px;
}

p.info span {
	color: #e95400;
}

p.headline {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	letter-spacing:0px;
	margin: 40px 0;
}

h2 {
	font-size: 50px;
	font-weight: ;
	letter-spacing: -0.5px;
}

div.content h3 {
	font-size: 38px;
	text-transform: capitalize;
	letter-spacing: 0px;
}

h4 {
	font-size: 30px;
	letter-spacing: -2.5px;
}

h5 {
	font-size: 24px;
	letter-spacing: 0.25px;
}

h6 {
	font-size: 20px;
	letter-spacing: 
}

blockquote.italic {
	font-style: italic;
	font-size: 14px;
	border-left: 2px solid #e95400;
	padding-left: 16px;
	margin: 32px 0 32px 32px;
}

blockquote cite {
	display: block;
	font-weight: bold;
	margin-left: 20px;
}

code {
	color: #e95400;
}

footer {
	background-color: #863ae8;
}

footer ul {
	list-style: none;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 28px 0;
	max-width: 900px;
}

footer a {
	text-decoration: none;
	color: #fff;
}

footer ul li {
	display: inline;
	margin: 0 16px;
}

footer li:hover {
	text-decoration: #fff underline;
}

div.Hero {
	background-color: #863ae8;
	height: 100vh;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Hero hr {
	width: 50%;
	margin: 32px 0;
}

.Hero h1, 
.Hero p {
	width: 75%;
	max-width: 900px;
	margin: 16px 0;
}
